/* Buttons */

.button {
    background-color: #BB000E;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.18rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff3333;
    cursor: pointer;
}

.sign-in-button, .sign-up-button {
    background-color: #BB000E;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    width: 50%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.sign-in-button:hover, .sign-up-button:hover {
    background-color: #d4000e;
    cursor: pointer;
}

.sign-in-button:active, .sign-up-button:active {
    background-color: #a50202;
}

/* Authentication Card */
.auth-container {
    max-width: 450px;
    margin: 2rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.auth-buttons {
    display: flex;
    justify-content: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.auth-form label {
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.input-wrapper {
    width: 90%;
    margin-bottom: 2rem;
}

.input-header {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.input-header .icon {
    margin-right: 0.5rem;
    color: rgb(150, 150, 150);
}

.input-group {
    width: 100%;
}

.input-group input {
    width: 99%;
    border: none;
    border-bottom: 2px solid #BB000E;
    background-color: transparent;
    color: #222222;
    outline: none;
}

.input-group input:focus {
    border-bottom: 2px solid #ff3333;
}

.show-password {
    position: relative;
}

.show-password .toggle {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.submit-button button {
    display: flex;
    align-items: center;
    background-color: #BB000E;
    color: #ffffff;
    padding: 0.6rem 1.2rem;
    border: none;
    font-size: 1.15rem;
    transition: background-color 0.3s ease;
}

.submit-button button:hover {
    background-color: #ff3333;
    cursor: pointer;
}

.submit-button .icon {
    margin-right: 0.6rem;
}
