/* styles for Activity component and other miscellaneous components */
.activity-red {
    color: #BB000E;
    font-weight: bold;
}

.activity-italics {
    font-style: italic;
}

.activity {
    list-style-type: none;
    margin: 5px 0;
}

